kind: Deployment
apiVersion: apps/v1
metadata:
  name: frontend-deployment
  namespace: autovote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend-container
        image: parharsayali/autovote-frontend:latest
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-pv-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      ##  resources:
      ##    requests:
      ##      cpu: "64Mi"
      ##      memory: "100m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

      volumes:
      - name: nginx-pv-config
        configMap:
          name: nginx-config

---
kind: Service
apiVersion: v1
metadata:
  name: nginx-service
  namespace: autovote
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 31000
