kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-Deployment
  namespace: autovote
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      label:
       app: nginx
      name: nginx-pod
    spec:
      imagePullSecrets:
      - name: dockersecret
      containers:
      - name: nginx-container
        image: nginx:latest
        imagePolicy: Always
        ports:
        - containerPort: 80
        volumeMounts:
          name: nginx-pv-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
          path: /
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 5
        timeoutSeconds: 3
        failureThreshold: 3

      volumes:
      - name: nginx-pv-config
        configMap:
          name: nginx-config 

---

kind: Service
apiVersion: v1
metadata:
  name: nginx-service
  namespace: autovote
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 31000
